.todo-card{
    padding: 20px;
    background-color: #e4c7b7;
    border-radius: 7px;
    margin-bottom: 15px ;
}
.todo-card .todo-title{
    text-transform: capitalize;
    color: #522157;
    font-weight: bold;
    margin-bottom: 8px;
}

.todo-card .todo-label{
    display: flex;
    text-transform: capitalize;
    color: #8b4c70;
    font-size: 18px;
    gap: 45px;
}

.todo-card .todo-label span svg{
    font-size: 20px;
    transform: translateY(-1px);
}
.todo-card .todo-label span:last-of-type{
    margin-right: -38px;
}

.todo-card .todo-body{
    display: flex;
    flex-direction: column;
    color: #8b4c70;
    font-size: 20px;
}
.todo-card .todo-body p{
    text-transform: capitalize;
    max-width: 400px;
    margin: 0px;
}
.todo-card .todo-controll{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

.todo-card .todo-controll button{
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    gap: 2px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #8b4c70;
    color: #fff ;
}
.todo-card .todo-controll button a{
    text-decoration: none;
    color: inherit;
}
.todo-card .todo-controll button svg{
    font-size: 20px;
    margin-right: 3px;
}
