.navbar-section{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:rgba(231, 228, 228,0.2);
    position: sticky;
    top: 0px;
    z-index: 100;
    padding: 0px 20px;
}
.navbar-section .logo{
    font-size: 18px;
    font-weight: bold;
    height: 45px;
    color: rgb(248, 20, 58);
}
.navbar-section .logo a{
    text-decoration: none;
    color: inherit;
    height: inherit;
    display: flex;
    align-items: center;
}
.navbar-section .toggel{
    padding: 0px 20px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 45px;
    color: rgb(248, 20, 58);
}
.navbar-section .links{
    list-style-type: none;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
    transition: all .5s ease-in-out;
}
.navbar-section .links li{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0px 5px;
}
.navbar-section .links li>a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(30, 86, 170);
    border-radius: 2px;
}
.navbar-section .links li>a.add{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(248, 20, 58);
}
.navbar-section .links li>a.add svg{
    font-size: 30px;
}
.navbar-section .links li>a:hover{
    color: rgb(248, 20, 58);
}
.navbar-section .links li>a.add :hover{
    color: #fff;
}

@media (max-width:992px){
.navbar-section{
    flex-wrap: wrap;
}
.navbar-section .links{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navbar-section .links li{
    height: auto;
    width: 100%;
    line-height: initial;
    padding: 0px 20px;
    overflow: hidden;
}
.navbar-section .links li a{
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
}
 
}
