.navbar-section{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color:#522157;
    position: sticky;
    top: 0px;
    z-index: 100;
    padding: 5px 60px;
}
.navbar-section .logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #fff !important;
}
.logo img{
    width: 70px;
    height: 40px;
    object-fit: fill;
    object-position: center;
}
.logo h3{
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}


.navbar-section .links{
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}

.navbar-section .links li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #c2649a;
    border-radius: 15px;
    transition: all .3s linear;
}
.navbar-section .links li>a.add{
    padding: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
}
.navbar-section .links li>a.active{
    color: #000;
}
.navbar-section .links li>a:hover{
    color: #000;
}
.navbar-section .links li>a svg{
    margin-right: 2px;
}
.navbar-section .links li>a.add svg{
    font-size: 30px;
}



@media (max-width:500px){
    .navbar-section{
        padding: 5px 25px;
    }
    .navbar-section .links li>a{
        padding: 5px 7px;
        font-size: 16px;
    }
}