.todos-container{
    flex-basis: 100%;
    padding: 45px 60px;
}
.todos-container .toggels{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}
.todos-container .toggels button{
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #c2649a;
    color: #fff;
}
.todos-container .toggels button.active{
    background-color: #733558;  
}
.todos-container .toggels button svg{
    font-size: 20px;
    transform: translateY(-2px);
}
.todos>p{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 30px 0px 0px 0px;
}

@media(max-width:500px){
    .todos-container{
        padding: 45px 25px;
    }
}