.notfound{
    width: 100%;
    padding-top: 100px;
    color: #522157;
}
.notfound div{
    text-align: center;
}
.notfound div h3{
    font-size: 28px;
    font-weight: bold;
}
.notfound div h3 svg{
    font-size: 30px;
    transform: translateY(-5px);
}
.notfound div p{
    font-size: 20px;
    font-weight: bold;
}
.notfound div button{
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 7px 10px;
    color: #fff;
    background-color: #522157;
}